*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  background-color: #162831;
  color: #ffffff;
  min-height: 100%;
  max-width: 1900px;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1900px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* навигация */
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1296px;
  min-height: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fff;
}

.navigation__logo {
  display: block;
}

.navigation__link-logo {
  position: relative;
  transition: opacity 200ms ease-in-out;
}

.navigation__link-logo:hover {
  opacity: 0.6;
}

.navigation__link-logo::after {
  content: "";
  background-image: url("../img/W.svg");
  background-repeat: no-repeat;
  width: 32px;
  height: 22px;
  position: absolute;
  display: block;
  top: 12px;
  left: 13px;
}

.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.navigation__link {
  text-decoration: none;
  color: #ffffff;
}

.button {
  border: none;
  border-radius: 3px;
  padding: 9px 15px;
  font-family: inherit;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.navigation__button {
  background-color: #018abe;
  color: #ffffff;
}

.navigation__button:hover {
  background-color: #ffffff;
  color: #018abe;
}

/* маин */
.main {
  flex-grow: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: flex-start;
  align-items: center;
}

.main__leed {
  background-image: url("../img/big-bgi.jpg");
  background-repeat: no-repeat;
  background-position: center;
  width: 1296px;
  height: 600px;
  margin: 0 auto;
  border-radius: 11px;
  font-family: "El Messiri", sans-serif;
  text-align: center;
  padding: 136px 75px 210px;
}

.description {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  padding: 0;
  margin: 0;
}

.main__leed-description {
  margin-bottom: 40px;
}

.main__leed-description::before {
  content: url("../img/Rectangle.svg");
  margin-right: 66px;
}

.main__leed-description::after {
  content: url("../img/Rectangle.svg");
  margin-left: 66px;
  transform: scaleX(-1);
  display: inline-block;
}

.main__leed-title {
  font-size: 64px;
  font-weight: 700;
  line-height: 90px;
  margin: 0;
}

.main__title {
  font-family: "El Messiri", sans-serif;
  font-size: 42px;
  line-height: 59px;
  font-weight: 700;
  text-align: center;
  margin: 0;
  margin-bottom: 60px;
}

.main__title::before,
.main__title::after {
  content: url("../img/Rectangle-blue.svg");
  margin-right: 45px;
}

.main__title::after {
  margin-left: 45px;
  transform: scaleX(-1);
  display: inline-block;
}

.sessions__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(2, 258px);
  grid-template-columns: repeat(3, 416px);
  gap: 24px;
}

.sessions__link,
.news__link {
  display: flex;
  align-items: flex-end;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  min-width: 416px;
  border-radius: 15px;
  font-family: "El Messiri", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
  padding: 30px 40px;
  position: relative;
}

.sessions__link::after,
.news__link::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(1, 138, 190, 0.5);
  border-radius: 15px;
  top: 0;
  left: 0;
}

.sessions__standart {
  background-image: url("../img/standart.png");
  background-size: contain;
  padding: 40px 50px;
}

.sessions__link span,
.news__link span {
  z-index: 1;
}

.sessions__link:hover::after,
.news__link:hover::after {
  background: none;
}

.sessions__list-item:first-child {
  grid-row: 1/span 2;
}

.reviews {
  width: 1736px;
  margin: 0 auto;
}

.reviews__title {
  margin-bottom: 97px;
}

.reviews__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 50px;
  position: relative;
  margin-bottom: 97px;
}

.reviews__list-inner {
  width: 500px;
  height: 276px;
  border-radius: 10px;
  background-color: #018abe;
  opacity: 0.5;
  color: #ffffff;
  padding: 40px 45px;
}

.reviews__author {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.reviews__text {
  font-size: 10px;
  line-height: 14px;
  font-weight: 300;
  margin-bottom: 0;
}

.reviews__item-large {
  opacity: 1;
  padding: 50px 60px;
  min-height: 350px;
  width: 636px;
  position: absolute;
  top: -37px;
  left: 50%;
  transform: translate(-50%);
}

.reviews__item-large .reviews__author {
  font-size: 20px;
  line-height: 28px;
}

.reviews__item-large .reviews__text {
  font-size: 14px;
  line-height: 20px;
}

.reviews__pagination {
  list-style: none;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
}

.reviews__button {
  border: none;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  opacity: 0.4;
  cursor: pointer;
}

.reviews__button-current {
  opacity: 1;
}

.about {
  width: 1076px;
  /* margin: 0 auto; */
}

.about__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 100px;
  justify-content: center;
}

.about__description {
  display: flex;
  gap: 84px;
  align-items: center;
}

.about__description-wrapper {
  width: 466px;
}

.about__description:last-child {
  flex-direction: row-reverse;
}

.about__image {
  display: block;
  border-radius: 10px;
}

.about__title {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  margin-bottom: 30px;
}

.about__text {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 0;
}

.price {
  /* margin: 0 auto; */
  width: 1076px;
}

.price__inner-wrapper {
  display: flex;
  gap: 134px;
  justify-content: center;
  align-items: center;
}

.price__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 31px;
}

.price__list-item {
  display: flex;
  justify-content: space-between;
  gap: 23px;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
}

.price__count {
  min-width: 87px;
  text-align: right;
  font-weight: 700;
}

.price__product {
  min-width: 268px;
  display: flex;
  gap: 15px;
  align-items: center;
}

.price__product::before {
  content: "";
  background-image: url("../img/Rectangle-blue.svg");
  background-repeat: no-repeat;
  transform: scale(0.7);
  width: 28px;
  height: 18px;
  display: block;
}

.price__image-container {
  display: flex;
  flex-direction: column;
}

.price_image {
  display: block;
  border-radius: 11px;
  margin-bottom: 30px;
}

.price__image-description {
  font-family: "El Messiri", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.map {
  width: 1296px;
  display: flex;
  justify-content: space-between;
  gap: 48px;
  margin-bottom: 60px;
}

.map__block-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.map__block {
  padding: 35px 45px;
  color: #ffffff;
  background-color: #018abe;
  border-radius: 10px;
  min-width: 392px;
}

.map__block-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 30px;
}

.map__block-title {
  font-family: "El Messiri", sans-serif;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 20px;
}

.map__item {
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  display: flex;
  gap: 20px;
}

.map__item::before {
  content: "";
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.map__address::before {
  background-image: url("../img/pin.svg");
}

.map__subway::before {
  background-image: url("../img/subway.svg");
}

.map__text::before {
  background-image: url("../img/bi_calendar-week-fill.svg");
}

.map__button {
  color: #018abe;
}

.map__button:hover {
  background-color: #162831;
  color: #ffffff;
}

.footer {
  min-width: 1296px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-top: 1px solid #fff;
  padding-top: 30px;
}

.blog {
  width: 1296px;
}

.blog__inner-wrapper {
  display: flex;
  gap: 134px;
}

.blog__image-container {
  align-self: flex-end;
}

.blog__image {
  display: block;
  border-radius: 11px;
}

.blog__date {
  background-color: #018abe;
 width: 96px;
  padding: 6px 12px 5px;
  border-radius: 5px;
  margin-bottom: 45px;
}

.blog__title {
  margin-bottom: 30px;
}

.block__border {
  padding: 50px 60px;
  border: 1px solid #018abe;
  border-radius: 10px;
}

.block__border .blog__inner-wrapper {
  gap: 50px;
}

.block__border .blog__date {
  margin-bottom: 30px;
}

.block__border .blog__image {
  width: 564px;
  height: 430px;
}

.block__border .blog__text {
  margin-bottom: 40px;
}

.blog__button {
  color: #fff;
  font-size: 14px;
  line-height: 19px;
  padding: 10px 20px;
  background-color: #018abe;
  text-decoration: none;
  border-radius: 5px;
}

.block__border {
  margin-bottom: 45px;
}

.news__list {
  list-style: none;
  margin: 0;
   padding: 0;
  justify-content: center;
  display: grid;
  grid-template-rows: repeat(2, 258px);
  grid-template-columns: repeat(3, 416px);
  gap: 24px;
}

.news__list-item {
  position: relative;
}

.news__date {
  position: absolute;
  top: 30px;
  left: 35px;
  z-index: 2;
}
